:root {
    --black-white-black: #101012;
    --black-white-white: #FFFFFF;
    --primary-primary: #3182F6;
    --red-red: #EF4452;
    --blue-grey-tone-grey01: #E4E4E5;
    --blue-grey-tone-grey02: #9E9EA3;
    --blue-grey-tone-grey03: #7E7E87;
    --blue-grey-tone-grey04: #62626D;
    --blue-grey-tone-grey05: #53535C;
    --blue-grey-tone-grey06: #2C2C35;
    --blue-grey-tone-grey07: #202126;
    --blue-grey-tone-grey08: #17171B;
}

/*symbol #home {*/
/*    fill: #FF0000;*/
/*    stroke: #FF0000;*/
/*}*/

/*.icon-red {*/
/*    color: #FF0000;*/
/*}*/