@import url('./margin-padding.css');

:root {
    --black-white-black: #101012;
    --black-white-white: #FFFFFF;
    --primary-primary: #3182F6;
    --red-red: #EF4452;
    --blue-grey-tone-grey01: #E4E4E5;
    --blue-grey-tone-grey02: #9E9EA3;
    --blue-grey-tone-grey03: #7E7E87;
    --blue-grey-tone-grey04: #62626D;
    --blue-grey-tone-grey05: #53535C;
    --blue-grey-tone-grey06: #2C2C35;
    --blue-grey-tone-grey07: #202126;
    --blue-grey-tone-grey08: #17171B;

}


body {
    color: var(--black-white-white);
    background: var(--blue-grey-tone-grey06);
}


/*symbol #home {*/
/*    fill: #FF0000;*/
/*    stroke: #FF0000;*/
/*}*/

/*.icon-red {*/
/*    color: #FF0000;*/
/*}*/

/*text style*/
.title-1-2 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -0.005em;
    line-height: 32px;
}

.title-2-2 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.005em;
    line-height: 24px;
}

.title-3-2 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.005em;
    line-height: 22px;
}

.title-4-2 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.005em;
    line-height: 20px;
}

.title-5-2 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.005em;
    line-height: 16px;
}

.title-6-2 {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.005em;
    line-height: 14px;
}

.body-3 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.005em;
    line-height: 22px;
}

.body-4 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.005em;
    line-height: 20px;
}

.body-5 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.005em;
    line-height: 16px;
}

.body-6 {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.005em;
    line-height: 14px;
}

.body-7 {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.005em;
    line-height: 12px;
}

